[access]
	inheritFrom = All-Projects
[project]
	description = OF-CONFIG
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-of-config-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/master:refs/heads/master
